[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/hugotex-dev/HugoTeX.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke.git
