
/* body {
  font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif;
} */
body {
  font-family: 'Latin Modern', 'Times New Roman', Times, serif;
  font-variant-numeric: oldstyle-nums;
}
/* body { 
  font-family: "IBM Plex Sans", sans-serif;
  font-variant-numeric: oldstyle-nums;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}  */
  

:root {
  --body-color: hsl(0, 5%, 10%);
  --body-bg-color: hsl(210, 20%, 98%);
  --link-visited: hsl(239, 90%, 65%);
  --link-focus-outline: hsl(174, 83%, 57%);
  --pre-bg-color: hsl(210, 28%, 93%);
  --kbd-bg-color: hsl(210, 5%, 100%);
  --kbd-border-color: hsl(210, 5%, 70%);
  --table-border-color: black;
  --border-width-thin: 1.36px;
  --border-width-thick: 2.27px;
  --sidenote-target-border-color: hsl(55, 55%, 70%);
  --footnotes-border-color: hsl(0, 0%, 39%);
  --text-indent-size: 1.463rem; /* In 12pt [Latin Modern font] LaTeX article
  \parindent =~ 17.625pt; taking also into account the ratio
  1pt[LaTeX] = (72 / 72.27) * 1pt[HTML], with default 12pt/1rem LaTeX.css font
  size, the identation value in rem CSS units is:
  \parindent =~ 17.625 * (72 / 72.27) / 12 = 1.463rem. */
}

/* .latex-dark {
  --body-color: hsl(0, 0%, 86%);
  --body-bg-color: hsl(0, 0%, 8%);
  --link-visited: hsl(239, 85%, 76%);
  --link-focus-outline: hsl(215, 63%, 73%);
  --pre-bg-color: hsl(0, 1%, 25%);
  --kbd-bg-color: hsl(0, 0%, 16%);
  --kbd-border-color: hsl(210, 5%, 70%);
  --table-border-color: white;
  --sidenote-target-border-color: hsl(0, 0%, 59%);
  --footnotes-border-color: hsl(0, 0%, 59%);
  --proof-symbol-filter: invert(80%);
} */

@media (prefers-color-scheme: dark) {
   .latex-dark-auto {
    --body-color: hsl(0, 0%, 86%);
    --body-bg-color: hsl(0, 0%, 8%);
    --link-visited: hsl(239, 85%, 76%);
    --link-focus-outline: hsl(215, 63%, 73%);
    --pre-bg-color: hsl(0, 1%, 25%);
    --kbd-bg-color: hsl(0, 0%, 16%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: white;
    --sidenote-target-border-color: hsl(0, 0%, 59%);
    --footnotes-border-color: hsl(0, 0%, 59%);
    --proof-symbol-filter: invert(80%);
  }
}

/* Authors and dates */
.author {
  margin: 0.85rem 0;
  font-size: 1.2rem; 
  font-variant-caps: small-caps;
  /* font-variant-numeric: oldstyle-nums; */
  text-align: center;
}
.date {
  font-variant-numeric: oldstyle-nums;
}

/* Heading typography */
h1, h2, .title {
  word-break: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.25rem;
  line-height: 3.25rem;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: 2.5rem;
}
/* body {
  font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.8;

  max-width: 90ch;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 1.25rem;

  counter-reset: theorem definition sidenote-counter;

  color: var(--body-color);
  background-color: var(--body-bg-color);

  text-rendering: optimizeLegibility;

  /* Allow automatic hyphenation for all text in the document */
  /* hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
} */ 
