{{ $data := index site.Data (.Get "data") }}
{{ $type := .Get "type" }}

<div class="article-list">
  {{ range sort (where $data "type" $type) "date" "desc" }}
  <p>
    <span class="date">{{ .date }}</span>
    <span class="sep"> | </span>
    {{ .title | markdownify }} <br/>
    {{ if .collaborators }}
      {{ if .other }}
    <span class="collab"> (with {{ delimit .collaborators ", " " and " }}. {{ .other }})</span>
      {{else}}
        <span class="collab"> (with {{ delimit .collaborators ", " ", and " }})</span>
      {{ end }}
    {{ end }}
  </p>
  {{ end }}
</div>
